{
  "extends": "../.eslintrc",
  "settings": {
    "import/core-modules": [
      "aws-cdk-lib",
      "constructs",
      "aws-cdk-lib/assertions",
      "aws-cdk-lib/aws-lambda",
      "aws-cdk-lib/aws-iam",
      "aws-cdk-lib/aws-dynamodb",
      "aws-cdk-lib/aws-apigateway",
      "aws-cdk-lib/aws-apigatewayv2",
      "aws-cdk-lib/aws-apigatewayv2-integrations",
      "aws-cdk-lib/aws-certificatemanager",
      "aws-cdk-lib/aws-sqs",
      "aws-cdk-lib/aws-sns",
      "aws-cdk-lib/aws-events",
      "aws-cdk-lib/aws-events-targets",
      "aws-cdk-lib/aws-logs",
      "aws-cdk-lib/aws-ec2",
      "aws-cdk-lib/aws-rds",
      "aws-cdk-lib/aws-s3",
      "aws-cdk-lib/aws-cloudwatch",
      "aws-cdk-lib/aws-cloudwatch-actions",
      "aws-cdk-lib/aws-lambda-event-sources",
      "aws-cdk-lib/cx-api",
      "@emarketeer/ts-microservice-commons/cdk"
    ]
  },
  "rules": {
    "no-new": "off",
    "@typescript-eslint/no-useless-constructor": "off"
  }
}
